

.card{
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 20px;
    padding: 20px;
    text-align: center;
    max-width: 250px;
    display: inline-block;
}

.card .card-image{
    
    height: auto;
    width: 100px;
}

.card .card-title{
    font-size: 20px;
    margin: 0;
    color: black;
}

.card .card-text{
    color: #777;
    font-size: 14px;
    margin: 0;
}

.student{
    background-color: #f9f9f9;
    padding: 20px;
    text-align: center;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}